/* 1. 页面背景色 */
.page{
	background-color: #EDEDED;
	/* #ifndef APP-PLUS-NVUE */
	min-height: 100%;
	height: auto;
	/* #endif */
	/* #ifdef APP-PLUS-NVUE */
	flex: 1;
	/* #endif */
}
/* 2. 主背景色（原谅绿） */
.main-bg-color{
	background-color: #08C060;
}
/* 3. 主文字色（原谅绿） */
.main-text-color{
	color: #08C060;
}